NEXT_PUBLIC_CHAIN_ID=91342
NEXT_PUBLIC_CHAIN_NAME=GIWA Sepolia
NEXT_PUBLIC_RPC_URL=https://sepolia-rpc.giwa.io
NEXT_PUBLIC_EXPLORER_URL=https://sepolia-explorer.giwa.io
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_AMMS_ADDRESS=
NEXT_PUBLIC_TOKEN_ADDRESS=
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_BONDING_CURVE_TOKEN_ADDRESS=
NEXT_PUBLIC_AMM_FACTORY_ADDRESS=
NEXT_PUBLIC_ROUTER_ADDRESS=
NEXT_PUBLIC_MIGRATOR_ADDRESS=
NEXT_PUBLIC_LOCKER_ADDRESS=
NEXT_PUBLIC_BUYBACK_BURN_ADDRESS=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
PINATA_JWT=
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud
